quartz.scheduler.instanceName = MassTransit-Scheduler
quartz.scheduler.instanceId = AUTO
quartz.serializer.type = json
quartz.threadPool.type = Quartz.Simpl.SimpleThreadPool, Quartz
quartz.threadPool.threadCount = 10
quartz.jobStore.misfireThreshold = 60000
quartz.jobStore.type = Quartz.Impl.AdoJobStore.JobStoreTX, Quartz
quartz.jobStore.driverDelegateType = Quartz.Impl.AdoJobStore.SqlServerDelegate, Quartz
quartz.jobStore.tablePrefix = QRTZ_
quartz.jobStore.dataSource = quartzDS
quartz.dataSource.quartzDS.connectionString = Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=mt-scheduler;Trusted_Connection=True;MultipleActiveResultSets=True;Connection Timeout=30
quartz.dataSource.quartzDS.provider = SqlServer
quartz.jobStore.useProperties = true